/AspectosAvancadosEngSoftwares-master/build/
/PadraoObserver/nbproject/private/
/PadraoObserverJava/nbproject/private/
/PadraoObserverJava/build/
/ObserverMaquinaEstados/nbproject/private/
/PadraoState/build/
/PadraoState/nbproject/private/
/ObserverMaquinaEstados/build/
/ChainOfResponsability/nbproject/private/
/ChainOfResponsability/build/
/ChainOfResponsabilityExample/nbproject/private/
/ChainOfResponsabilityExample/build/
/PadraoMemento/nbproject/private/
/PadraoMemento/build/
/PadraoMementoWeb/nbproject/private/
/AspectosAvancadosEngSoftwares-master - Copia/build/
/AspectosAvancadosEngSoftwares-master - Copia/nbproject/private/
/PadraoMementoWeb/build/
/PadraoMementoWeb/dist/